.buttonnavigation {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 70px;
    padding:  12px 70px;
    background-color: #005792;
    font-size: 11px;
    border: none;
    border-radius: 4px;
}

.buttonbanner {
    width: 300px;
    height: 80px;
    margin-top: 40px;
    margin-left: 110px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
}

.buttonbanner:hover {
    background-color: white;
    color: blue;
}

.buttonbanner2 {
    width: 300px;
    height: 80px;
    margin-top: 40px;
    margin-left: 110px;
    background-color: transparent;
    border-color: blue;
    color: black;
    font-size: 25px;
    border-radius: 10px;
}

.buttonbanner2:hover {
    background-color: blue;
    color: white;
}

.buttonbannertwo {
    width: 300px;
    height: 80px;
    margin-top: 40px;
    margin-left: 110px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
}

.buttonbannertwo:hover {
    background-color: white;
    color: blue;
}

@media(max-width: 1500px) {

    .buttonbanner {
        margin-top: 20px;
        width: 230px;
        height: 70px;
        margin-left: 100px;
    }

    .buttonbannertwo {
        margin-top: 20px;
        width: 250px;
        height: 80px;
        margin-left: 100px;
    }

}
