.h1expercience {
    margin-left: 1200px;
    margin-top: 80px;
    font-size: 50px;
    color: black;
}

.div1 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 110px;
    margin-top: 80px;
    position: absolute;
}

.div2 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 1380px;
    margin-top: 80px;
    position: absolute;
}

.div3 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 110px;
    margin-top: 400px;
    position: absolute;
}

.div4 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 1380px;
    margin-top: 400px;
    position: absolute;
}

.div5 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 2670px;
    margin-top: 80px;
    position: absolute;
}

.div6 {
    background: rgba(241, 245, 249, 1);
    width: 1000px;
    height: 200px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-left: 2670px;
    margin-top: 400px;
    position: absolute;
}

.icondin {
    width: 200px;
    height: 200px;
}

.title {
    position: absolute;
    color: black;
    font-size: 40px;
    margin-top: -180px;
    margin-left: 220px;
}

.pgtitle {
    width: 600px;
    position: absolute;
    color: black;
    font-size: 30px;
    margin-top: -120px;
    margin-left: 220px;
}

@media(max-width: 1500px) {

    .h1expercience {
        font-size: 40px;
        margin-left: 150px;
    }

    .div1 {
        height: 150px;
        margin-left: 200px;
    }

    .icondin {
        width: 150px;
        height: 150px;
    }

    .div3 {
        margin-top: 280px;
        height: 150px;
        margin-left: 200px;
    }

    .div2 {
        margin-top: 480px;
        height: 150px;
        margin-left: 200px;
    }

    .div4 {
        height: 150px;
        margin-left: 200px;
        margin-top: 680px;
    }

    .div5 {
        margin-top: 880px;
        height: 150px;
        margin-left: 200px;
    }

    .div6 {
        margin-top: 1080px;
        height: 150px;
        margin-left: 200px;
    }

    .title {
        position: absolute;
        font-size: 32px;
        margin-top: -130px;
    }

    .pgtitle {
        font-size: 25px;
        margin-top: -90px;
    }

}

@media(max-width: 1000px) {

    .h1expercience {
        margin-left: 60px;
        font-size: 30px;
    }

    .div1 {
        width: 900px;
        height: 130px;
        margin-left: 50px;
    }

    .icondin {
        width: 150px;
        height: 130px;
    }

    .div3 {
        width: 900px;
        margin-top: 280px;
        height: 130px;
        margin-left: 50px;
    }

    .div2 {
        width: 900px;
        margin-top: 480px;
        height: 130px;
        margin-left: 50px;
    }

    .div4 {
        width: 900px;
        height: 130px;
        margin-left: 50px;
        margin-top: 680px;
    }

    .div5 {
        width: 900px;
        margin-top: 880px;
        height: 130px;
        margin-left: 50px;
    }

    .div6 {
        width: 900px;
        margin-top: 1080px;
        height: 130px;
        margin-left: 50px;
    }

    .title {
        position: absolute;
        font-size: 32px;
        margin-top: -120px;
    }

    .pgtitle {
        font-size: 25px;
        margin-top: -80px;
    }

}