.bannerfilme {
    width: 100%;
    height: auto;
    margin-top: -120px;
    z-index: 30;
}

.divavatar {
    width: 694px;
    background: rgba(0,0,0,25%);
    height: 400px;
    z-index: 50;
    backdrop-filter: blur(2px);
    margin-top: -800px;
    position: absolute;
}

.h1avatar {
    font-size: 85px;
    z-index: 50;
    margin-top: 10px;
    margin-left: 110px;
    color: #fffaf2;
}

.h2theway {
    font-size: 35px;
    margin-left: 110px;
    color: #fffaf2;
}

.pgavatar {
    width: 500px;
    font-size: 18px;
    margin-left: 115px;
    color: #fffaf2;
}

.i4 {
    color: #00b2e9;
}

.pgbutton {
    font-size: 25px;
}

@media(max-width: 1500px) {

    .divavatar {
        margin-top: -400px;
        width: 500px;
        height: 300px;
    }

    .h1avatar {
        margin-left: 100px;
        font-size: 80px;
    }

    .h2theway {
        font-size: 25px;
        margin-left: 100px;
    }

    .pgavatar {
        width: 350px;
        margin-left: 100px;
    }

    .pgbutton {
        font-size: 23px;
    }

}

@media(max-width: 1000px) {

   .divavatar {
        margin-top: -250px;
        width: 400px;
        height: 230px;
   }

   .h1avatar {
        margin-left: 80px;
        font-size: 50px;
   }

   .h2theway {
        margin-left: 80px;
        font-size: 20px;
   }

   .pgavatar {
        margin-left: 80px;
        width: 300px;
   }

}
